<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
         <menu id="Annat" label="Annat" icon="/usr/share/icons/gnome/16x16/categories/gnome-other.png">
      <item label="TigerVNC viewer" icon="/usr/share/icons/hicolor/16x16/apps/tigervnc.png">
       <action name="Execute"><execute>/usr/bin/vncviewer</execute></action>
     </item>
 </menu> <!-- Annat -->
 <menu id="Grafik" label="Grafik" icon="/usr/share/icons/gnome/16x16/categories/gnome-graphics.png">
      <item label="Dokumentvisare" icon="/usr/share/icons/hicolor/16x16/apps/evince.png">
       <action name="Execute"><execute>evince </execute></action>
     </item>
      <item label="GNU:s bildmanipuleringsprogram" icon="/usr/share/icons/hicolor/16x16/apps/gimp.png">
       <action name="Execute"><execute>gimp-2.8 </execute></action>
     </item>
      <item label="Mirage" icon="/usr/share/pixmaps/mirage.png">
       <action name="Execute"><execute>mirage </execute></action>
     </item>
 </menu> <!-- Grafik -->
 <menu id="Internet" label="Internet" icon="/usr/share/icons/gnome/16x16/categories/gnome-globe.png">
      <item label="Avahi SSH-serverbläddrare" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/bssh</execute></action>
     </item>
      <item label="Avahi VNC-serverbläddrare" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/bvnc</execute></action>
     </item>
      <item label="Chromium" icon="/usr/share/icons/hicolor/16x16/apps/chromium.png">
       <action name="Execute"><execute>chromium </execute></action>
     </item>
      <item label="Dropbox" icon="/usr/share/pixmaps/dropbox.png">
       <action name="Execute"><execute>dropboxd</execute></action>
     </item>
      <item label="Ettercap" icon="/usr/share/pixmaps/ettercap.svg">
       <action name="Execute"><execute>ettercap-pkexec -G</execute></action>
     </item>
      <item label="Pidgin Meddelandeklient" icon="/usr/share/icons/hicolor/16x16/apps/pidgin.png">
       <action name="Execute"><execute>pidgin</execute></action>
     </item>
      <item label="Skype" icon="/usr/share/icons/hicolor/16x16/apps/skype.png">
       <action name="Execute"><execute>env PULSE_LATENCY_MSEC=60 skype </execute></action>
     </item>
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>/usr/bin/steam </execute></action>
     </item>
      <item label="TeamViewer 9" icon="///opt/teamviewer9/tv_bin/desktop/teamviewer.png">
       <action name="Execute"><execute>/opt/teamviewer9/tv_bin/script/teamviewer</execute></action>
     </item>
      <item label="Thunderbird" icon="/usr/share/icons/hicolor/16x16/apps/thunderbird.png">
       <action name="Execute"><execute>thunderbird </execute></action>
     </item>
      <item label="Zenmap" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>zenmap </execute></action>
     </item>
      <item label="Zenmap (as root)" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>/usr/share/zenmap/su-to-zenmap.sh </execute></action>
     </item>
      <item label="dwb" icon="/usr/share/pixmaps/dwb.png">
       <action name="Execute"><execute>dwb </execute></action>
     </item>
 </menu> <!-- Internet -->
 <menu id="Kontor" label="Kontor" icon="/usr/share/icons/gnome/16x16/categories/gnome-applications.png">
      <item label="Dokumentvisare" icon="/usr/share/icons/hicolor/16x16/apps/evince.png">
       <action name="Execute"><execute>evince </execute></action>
     </item>
      <item label="Zathura">
       <action name="Execute"><execute>zathura </execute></action>
     </item>
 </menu> <!-- Kontor -->
 <menu id="Ljud och video" label="Ljud och video" icon="/usr/share/icons/gnome/16x16/categories/gnome-multimedia.png">
      <item label="GNOME MPlayer" icon="/usr/share/icons/hicolor/16x16/apps/gnome-mplayer.png">
       <action name="Execute"><execute>gnome-mplayer </execute></action>
     </item>
      <item label="Mediaspelaren VLC" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
       <action name="Execute"><execute>/usr/bin/vlc --started-from-file </execute></action>
     </item>
      <item label="Qt V4L2 test Utility" icon="/usr/share/icons/hicolor/16x16/apps/qv4l2.png">
       <action name="Execute"><execute>qv4l2</execute></action>
     </item>
      <item label="Rhythmbox" icon="/usr/share/icons/hicolor/16x16/apps/rhythmbox.png">
       <action name="Execute"><execute>rhythmbox </execute></action>
     </item>
      <item label="Spotify" icon="/usr/share/icons/hicolor/16x16/apps/spotify-client.png">
       <action name="Execute"><execute>spotify </execute></action>
     </item>
      <item label="VolWheel">
       <action name="Execute"><execute>volwheel</execute></action>
     </item>
 </menu> <!-- Ljud och video -->
 <menu id="Programmering" label="Programmering" icon="/usr/share/icons/gnome/16x16/categories/gnome-devel.png">
      <item label="CMake" icon="/usr/share/pixmaps/CMakeSetup32.png">
       <action name="Execute"><execute>cmake-gui </execute></action>
     </item>
      <item label="Eclipse" icon="/usr/share/icons/hicolor/16x16/apps/eclipse.png">
       <action name="Execute"><execute>eclipse</execute></action>
     </item>
      <item label="FLUID" icon="/usr/share/icons/hicolor/16x16/apps/fluid.png">
       <action name="Execute"><execute>fluid </execute></action>
     </item>
      <item label="GHex" icon="/usr/share/icons/hicolor/16x16/apps/ghex.png">
       <action name="Execute"><execute>ghex </execute></action>
     </item>
      <item label="MATLAB R2012a" icon="///usr/share/icons/matlab.png">
       <action name="Execute"><execute>matlab -desktop</execute></action>
     </item>
      <item label="OpenJDK Monitoring &amp; Management Console" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
       <action name="Execute"><execute>/usr/bin/jconsole</execute></action>
     </item>
      <item label="OpenJDK Policy Tool" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
       <action name="Execute"><execute>/usr/bin/policytool</execute></action>
     </item>
      <item label="Qt4 Assistant " icon="/usr/share/icons/hicolor/32x32/apps/assistant-qt4.png">
       <action name="Execute"><execute>assistant-qt4</execute></action>
     </item>
      <item label="Qt4 Designer" icon="/usr/share/icons/hicolor/128x128/apps/designer-qt4.png">
       <action name="Execute"><execute>designer-qt4</execute></action>
     </item>
      <item label="Qt4 Linguist " icon="/usr/share/icons/hicolor/16x16/apps/linguist-qt4.png">
       <action name="Execute"><execute>linguist-qt4</execute></action>
     </item>
      <item label="Qt4 QDbusViewer " icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt4.png">
       <action name="Execute"><execute>qdbusviewer-qt4</execute></action>
     </item>
      <item label="Sublime Text">
       <action name="Execute"><execute>/opt/sublime_text/sublime_text </execute></action>
     </item>
 </menu> <!-- Programmering -->
 <menu id="Spel" label="Spel" icon="/usr/share/icons/gnome/16x16/categories/gnome-joystick.png">
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>/usr/bin/steam </execute></action>
     </item>
      <item label="SuperTuxKart" icon="/usr/share/pixmaps/supertuxkart_128.png">
       <action name="Execute"><execute>supertuxkart</execute></action>
     </item>
      <item label="VBA-M" icon="/usr/share/icons/hicolor/16x16/apps/vbam.png">
       <action name="Execute"><execute>gvbam </execute></action>
     </item>
 </menu> <!-- Spel -->
 <menu id="Systemverktyg" label="Systemverktyg" icon="/usr/share/icons/gnome/16x16/categories/gnome-system.png">
      <item label="Avahi Zeroconf-bläddrare" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/avahi-discover</execute></action>
     </item>
      <item label="Cairo-Dock" icon="/usr/share/pixmaps/cairo-dock.svg">
       <action name="Execute"><execute>cairo-dock</execute></action>
     </item>
      <item label="Cairo-Dock (Fallback Mode)" icon="/usr/share/pixmaps/cairo-dock.svg">
       <action name="Execute"><execute>cairo-dock -A</execute></action>
     </item>
      <item label="Filhanteraren Thunar" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
       <action name="Execute"><execute>thunar </execute></action>
     </item>
      <item label="GParted" icon="/usr/share/icons/hicolor/16x16/apps/gparted.png">
       <action name="Execute"><execute>/usr/bin/gparted_polkit </execute></action>
     </item>
      <item label="Guake Terminal" icon="/usr/share/icons/hicolor/16x16/apps/guake.png">
       <action name="Execute"><execute>guake</execute></action>
     </item>
      <item label="Htop" icon="/usr/share/pixmaps/htop.png">
       <action name="Execute"><execute>xterm -e htop</execute></action>
     </item>
      <item label="Massomdöpning" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
       <action name="Execute"><execute>/usr/lib/Thunar/ThunarBulkRename </execute></action>
     </item>
      <item label="Menu" icon="///usr/share/icons/gnome/32x32/apps/help-browser.png">
       <action name="Execute"><execute>xdotool key ctrl+alt+space</execute></action>
     </item>
      <item label="Oracle VM VirtualBox" icon="/usr/share/icons/hicolor/16x16/mimetypes/virtualbox.png">
       <action name="Execute"><execute>VirtualBox </execute></action>
     </item>
      <item label="UNetbootin" icon="/usr/share/icons/hicolor/16x16/apps/unetbootin.png">
       <action name="Execute"><execute>/usr/bin/unetbootin_polkit</execute></action>
     </item>
      <item label="UXTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>uxterm</execute></action>
     </item>
      <item label="XTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>xterm</execute></action>
     </item>
      <item label="dconf-redigerare" icon="/usr/share/icons/hicolor/16x16/apps/dconf-editor.png">
       <action name="Execute"><execute>dconf-editor</execute></action>
     </item>
      <item label="urxvt" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvt</execute></action>
     </item>
      <item label="urxvt (client)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvtc</execute></action>
     </item>
      <item label="urxvt (tabbed)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvt-tabbed</execute></action>
     </item>
 </menu> <!-- Systemverktyg -->
 <menu id="Tillbehör" label="Tillbehör" icon="/usr/share/icons/gnome/16x16/categories/gnome-util.png">
      <item label="7-Zip FM" icon="/usr/share/icons/hicolor/32x32/apps/p7zip.png">
       <action name="Execute"><execute>7zFM</execute></action>
     </item>
      <item label="Förbättrad Vi" icon="/usr/share/pixmaps/gvim.png">
       <action name="Execute"><execute>gvim -f </execute></action>
     </item>
      <item label="Leafpad" icon="/usr/share/icons/hicolor/16x16/apps/leafpad.png">
       <action name="Execute"><execute>leafpad </execute></action>
     </item>
      <item label="Root-terminal" icon="/usr/share/pixmaps/gksu-root-terminal.png">
       <action name="Execute"><execute>gksu -l gnome-terminal</execute></action>
     </item>
      <item label="Synergy" icon="///usr/share/icons/synergy.ico">
       <action name="Execute"><execute>synergy</execute></action>
     </item>
      <item label="Xarchiver" icon="/usr/share/icons/hicolor/16x16/apps/xarchiver.png">
       <action name="Execute"><execute>xarchiver </execute></action>
     </item>
      <item label="gedit" icon="/usr/share/icons/gnome/16x16/apps/accessories-text-editor.png">
       <action name="Execute"><execute>gedit </execute></action>
     </item>
 </menu> <!-- Tillbehör -->

		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
